<link href="txtstyle.css" rel="stylesheet" type="text/css" />
/*<br>
 * Petersons' critical section algorithm, implemented with fences.<br>
 *<br>
 * URL:<br>
 *   http://www.justsoftwaresolutions.co.uk/threading/<br>
 */<br>
<br>
#include &lt atomic&gt<br>
#include &lt threads.h&gt<br>
<br>
#include "librace.h"<br>
#include "mem_op_macros.h"<br>
<br>
std::atomic&lt bool&gt flag0("flag0"), flag1("flag1");<br>
std::atomic&lt int&gt turn("turn");<br>
<br>
uint32_t critical_section = 0;<br>
<br>
void p0(void *arg)<br>
{<br>
    int t1_loop_itr_bnd = 1;<br>
    int i_t1 = 0;<br>
    while(++i_t1 &lt = t1_loop_itr_bnd){<br>
        store(&flag0, true, std::memory_order_relaxed);<br>
        store(&turn, 1, std::memory_order_relaxed);<br>
<br>
        int loop_bnd = 0;<br>
        while (load(&flag1, std::memory_order_relaxed)<br>
                && 1 ==load(&turn, std::memory_order_relaxed)<br>
                && ++loop_bnd &lt = 2){<br>
            thrd_yield();<br>
        }<br>
        if(loop_bnd &gt 2) continue;<br>
<br>
        // critical section<br>
        store_32(&critical_section, 1);<br>
<br>
        store(&flag0, false,std::memory_order_relaxed);<br>
    }<br>
}<br>
<br>
void p1(void *arg)<br>
{<br>
    int t2_loop_itr_bnd = 1;<br>
    int i_t2 = 0;<br>
    while(++i_t2 &lt = t2_loop_itr_bnd){<br>
        store(&flag1, true,std::memory_order_relaxed);<br>
        store(&turn, 0, std::memory_order_relaxed);<br>
<br>
        int loop_bnd = 0;<br>
        while (load(&flag0, std::memory_order_relaxed)<br>
        		&& 0==load(&turn, std::memory_order_relaxed)<br>
                && ++loop_bnd &lt = 2){<br>
            thrd_yield();<br>
        }<br>
        if(loop_bnd > 2) continue;<br>
<br>
        // critical section<br>
        store_32(&critical_section, 2);<br>
<br>
        //std::atomic_thread_fence release);<br>
        store(&flag1, false,std::memory_order_relaxed);<br>
    }<br>
}<br>
<br>
int user_main(int argc, char **argv)<br>
{<br>
    thrd_t a, b;<br>
<br>
    store(&flag0, false,std::memory_order_seq_cst);<br>
    store(&flag1, false,std::memory_order_seq_cst);<br>
    store(&turn, 0, std::memory_order_seq_cst);<br>
<br>
    thrd_create(&a, p0, NULL);<br>
    thrd_create(&b, p1, NULL);<br>
<br>
    thrd_join(a);<br>
    thrd_join(b);<br>
<br>
    return 0;<br>
}
